# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

## Objectives:
* Talking about some popular languages in Data Science
* Introducing commonly used libararies Data Scientists use
* Displaying the commonly used tools in Data Science in the form of a table
* Writing simple arithmetic code using code cells

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

## Here are some commonly used tools in Data Science:
| Data Science Tools |
| --- |
| RStudio |
| Apache Spark |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
# Ishan Desai